<div class="ew-card">
  <ul class="font-italic">
    <li> Los cultivos para alimentar al ganado dañan el ecosistema y esto ha ocasionado la extinción de más de 30 especies en el mundo</li>
    <li> Los argentinos sólo comemos la mitad de los vegetales recomendados por la OMS (400 gramos diarios), y esto ocurre en los hogares de menores y en los de mayores ingresos.</li>
    <li>Argentina ha sido durante un siglo uno de los mayores productores de alimentos del mundo y con eso el uso de fertilizantes y transgénicos en la producción de frutas y verduras ha sido enorme.</li>
  </ul>
  <p>El mundo ha dejado abruptamente de consumir carne. Ante el cambio de hábito, las empresas se han visto obligadas a modificar radicalmente su producción, y las demás personas están adecuando su dieta a la nueva tendencia. ¿Puedes mantener el nuevo estilo de vida?</p>
  <p class="text-center font-weight-bold">Los vegetales son un elemento clave en toda dieta saludable, pero ¿puedes vivir solamente consumiendo eso?</p>
  <p class="text-center"><button routerLink="/nueva-dieta" class="btn btn-primary">INICIAR LA NUEVA DIETA</button></p>
</div>